<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">


    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <div class="container py-5 " id="content">
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <form action="/admin/add-area" method="POST" enctype="multipart/form-data">
                            <div class="form-group row required">

                                <div class="col-sm-4">
                                    <label for="area" >Domain Name</label>
                                    <select type="text" class="form-control" name="domainId" id="domainId">
                                        <% for (const i in domains) {%>
                                            <option value="<%=domains[i].id%>">
                                                <%= domains[i].name%>
                                            </option>
                                            <%}%>
                                    </select>

                                </div>
                                <div class="col-sm-4">
                                    <label for="area" class="control-label">Area Name</label>
                                    <input type="text" class="form-control" name="name" id="name">

                                </div>

                                <div class="col-sm-4">
                                    <label for="topicId" class="control-label">Area Code</label>
                                    <input type="text" class="form-control" name="shortName" id="shortName">

                                </div>

                            </div>
                            <div class="form-group row required">
                                <div class="col-sm-6">
                                    * indicates required fields
                                </div>
                                <div class="col-sm-6">

                                    <button type="submit" class="btn btn-primary px-4 float-right">Add Area</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <%- include('../includes/end.ejs') %>