<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
 

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <div class="container py-5" id="content">
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <h2>User List</h2>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-md-2 mx-auto">
                        ID
                    </div>
                    <div class="col-md-2 mx-auto">
                        First Name
                    </div>
                    <div class="col-md-2 mx-auto">
                        Last Name
                    </div>
                    <div class="col-md-2 mx-auto">
                        email
                    </div>
                    <div class="col-md-2 mx-auto">
                        Admin
                    </div>
                    <div class="col-md-2 mx-auto">
                        
                    </div>
                </div>
                <% for (const i in users) {%>
                    <div class="row border-bottom">
                        <div class="col-md-2 mx-auto">
                            <%=users[i].id%>
                        </div>
                        <div class="col-md-2 mx-auto">
                            <%=users[i].firstName%>
                        </div>
                        <div class="col-md-2 mx-auto">
                            <%=users[i].lastName%>
                        </div>
                        <div class="col-md-2 mx-auto">
                            <%=users[i].email%>
                        </div>
                        <div class="col-md-2 mx-auto">
                            <%=((users[i].admin)?'yes':'no')%>
                        </div>
                        <div class="col-md-2 mx-auto">
                            <a href="/admin/user/<%=users[i].id%>">Manage</a>
                        </div>
                    </div>
                    <%}%>
            </div>

            <%- include('../includes/end.ejs') %>